.navbar {
  background-color: #181818;
  height: 80px;
  width: 100%;
  opacity: 0.9;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar nav ul li {
  display: inline-block;
  margin: 20px;
}
.navbar nav ul li a {
  text-decoration: none;
  color: white;
}
.navbar nav ul li a:hover {
  border-bottom: 5px solid #8c1cd1;
}
